<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mirceabucerzan.core">

    <application>
        <provider
            android:name=".CoreInitProvider"
            android:authorities="${applicationId}.coreinitprovider"
            android:exported="false" />
    </application>

</manifest>
